[submodule "apps/engine/Vendor/Eigen"]
	path = apps/engine/Vendor/Eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "apps/engine/Vendor/googletest"]
	path = apps/engine/Vendor/googletest
	url = https://github.com/google/googletest.git
