<div class="sidebar-bg w-13 shrink-0  h-[68vh] flex flex-col items-center justify-start bg-[#EBEDE3] rounded-[12px] inset-shadow-sm inset-shadow-indigo-500/50">
    <div class="sideNav">

        

        <!-- Navigation -->
        <nav class="flex flex-col gap-1 px-3 py-4 justify-center items-center flex-1 brightness-0 invert">

            <a routerLink="dashboard" routerLinkActive="active">
                <img src="/icons/home.svg" alt="Home" class="w-6 h-6">
            </a>
            <a routerLink="orbit" routerLinkActive="active">
                <img src="/icons/earth.svg" alt="Earth" class="w-6 h-6">
            </a>
            <a routerLink="analytics" routerLinkActive="active">
                <img src="/icons/astroid.svg" alt="Astroid" class="w-6 h-6">
            </a>
            <a routerLink="settings" routerLinkActive="active">
                <img src="/icons/virgo.svg" alt="Virgo" class="w-6 h-6">
            </a>

        </nav>  


    </div>

</div>