.sideNav{
    width: 80%;
    height: 72%; // later change to percentage
    margin: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: #000000;
    background: linear-gradient(359deg,rgba(0, 0, 0, 1) 0%, rgba(41, 41, 41, 1) 100%);

    -webkit-box-shadow: 0px 0px 21px 10px rgba(0,0,0,0.46); 
    box-shadow: 0px 0px 21px 10px rgba(0,0,0,0.46);
}

nav{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}


a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 5px;
    padding: 5px;
}